<h1>Book Details</h1>
Book Name:
<%=" #{@title}"%><br/>
Author:
<%=" #{@author}"%><br/>
Genre:
<%=" #{@genre}"%><br/>
Price:
<%=" $#{@price}"%><br/>
Published Date:
<%=" #{@published_date}"%><br/>
   
<button><%= link_to("Back", "/book_collection/home?message=Returned+Home")%></button>
