<% flash.each do |type, msg|%>
    <div style="width:100%;background-color:green;text-align:center;color:white"}>
        <%= msg%>
    </div>
<%end%>

<h1>Keerat's Book Collection</h1>

<table>
    <%@books.each do |book|%>
        <tr><%= book.title%>
            <button><%= link_to("Update", "/book_collection/update?id=#{book.id}")%></button>
            <button><%= link_to("Details", "/book_collection/details?id=#{book.id}")%></button>
            <button><%= link_to("Delete", "/book_collection/delete?id=#{book.id}")%></button>
        </tr><br/>
    <% end %>
    <button>
        <%= link_to("Add book", '/book_collection/add')%>
    </button>
</table>
