<h1>Update Book</h1>

<% action_link = "/book_collection/update?id=#{@id}"%>

<form action=<%=action_link%> method="get">
    <label>ID:</label><input name="id" value=<%=@id%> readonly><br/>
    <label>Title:</label><input type="text" name="title" value="<%=@title%>"><br/>
    <label>Author:</label><input type="text" name="author" value="<%=@author%>"><br/>
    <Label>Genre:</label>
     <select name="genre", id="genre">
        <%@genres.each do |g|%>
            <%if g == @genre%>
                <option value="<%=g%>" selected><%=g%></option>
            <%else%>
                <option value="<%=g%>"><%=g%></option>
            <%end%>
        <%end%>
    </select><br/>
    <label>Price:</label><input type="text" name="price" value="<%=@price%>"><br/>
    <label>Published Date:</label>
    <select name="published_year", id="published_year">
        <%@years.each do |y|%>
            <%if y == @published_year%>
                <option value=<%=y%> selected><%=y%></option>
            <%else%>
                <option value=<%=y%>><%=y%></option>
            <%end%>
        <%end%>
    </select> 
    <select name="published_month", id="published_month">
        <%@months.each do |m|%>
            <%if m == @published_month%>
                <option value=<%=m%> selected><%=m%></option>
            <%else%>
                <option value=<%=m%>><%=m%></option>
            <%end%>
        <%end%>
    </select> 
    <select name="published_day", id="published_day">
        <%@days.each do |d|%>
            <%if d == @published_day%>
                <option value=<%=d%> selected><%=d%></option>
            <%else%>
                <option value=<%=d%>><%=d%></option>
            <%end%>
        <%end%>
    </select> <br/>
    <input type="submit" value="Submit"><button><%= link_to("Back", "/book_collection/home?message=Update+Cancelled")%></button>
</form>