<h1>Add Book to Collection</h1>

<form action="/book_collection/add" method="get">
    <label>Title:</label><input type="text" name="title"><br/>
    <label>Author:</label><input type="text" name="author"><br/>
    <Label>Genre:</label>
     <select name="genre", id="genre">
        <%@genres.each do |g|%>
            <option value="<%=g%>"><%=g%></option>
        <%end%>
    </select><br/>
    <label>Price:</label><input type="text" name="price"><br/>
    <label>Published Date:</label>
    <select name="published_year", id="published_year">
        <%@years.each do |y|%>
            <option value=<%=y%>><%=y%></option>
        <%end%>
    </select> 
    <select name="published_month", id="published_month">
        <%@months.each do |m|%>
            <option value=<%=m%>><%=m%></option>
        <%end%>
    </select> 
    <select name="published_day", id="published_day">
        <%@days.each do |d|%>
            <option value=<%=d%>><%=d%></option>
        <%end%>
    </select> <br/>
    <input type="submit" value="Submit"><button><%= link_to("Back", "/book_collection/home?message=Addition+Cancelled")%></button>
</form>    
